{% extends 'base.html' %}
{% block content %}

    
        <div class="cart-main-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form action="#">               
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <!-- <th class="product-thumbnail">Image</th> -->
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total Price</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart in crt_order.items_order.all %}
                                    
                                        <tr>
                                            
                                            
                                            <!-- <td class="product-thumbnail"><a href="#"><img src="{{carts.img.url}}" alt="product img" /></a></td> -->
                                            <td class="product-name"><a href="#">{{cart.item.title}}</a></td>
                                            <td class="product-price"><span class="amount">RS.{{cart.item.price}}</span></td>
                                            <td class="product-quantity">
                                                <a href="/remove_single_item_cart/{{cart.item.id}}"><i class="ti-minus ml-1"></i> </a>
                                                 {{cart.quantity}} 
                                                <a href="/add_to_cart/{{cart.item.id}}"><i class="ti-plus"></i> </a>
                                            </td>

                                            <td class="product-subtotal">RS.{{cart.get_total_price}}</td>
                                            <td class="product-remove"><a href="/remove_from_cart/{{cart.item.id}}">X</a></td>
                                        </tr>
                                        {% endfor %}
                                        
                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-7 col-xs-12">
                                    <div class="buttons-cart">
                                        <input type="submit" value="Update Cart" />
                                        <a href="/">Continue Shopping</a>
                                    </div>
                                    <!-- <div class="coupon">
                                        <h3>Coupon</h3>
                                        <p>Enter your coupon code if you have one.</p>
                                        <input type="text" placeholder="Coupon code" />
                                        <input type="submit" value="Apply Coupon" />
                                    </div> -->
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12">
                                    <div class="cart_totals">
                                      
                                        <table>
                                            <tbody>
                                                
                                                
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">  RS.{{crt_order.get_total}}</span></strong>
                                                    </td>
                                                </tr>  
                                                                                       
                                            </tbody>
                                            
                                            

                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="/shipping">Proceed to Checkout</a>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        